.App {
  text-align: left;
  min-height: 100vh;
  width: 100vw;
}

.light {
  padding: 3%;
  color: #394943;
  background-color: #f4f6f1;
}

.dark {
  padding: 3%;
  color: #f4f6f1;
  background-color: #394943;
}

/*colors

light-shade: #F4F6F1;
light-accent: #82846F;
main: #9CA0A2;
dark-accent: #976371;
dark-shade: #394943;

color-semantics

primary-grey: #9ba0a2;
primary-black: #394943;
success: #64ab69;
warning: #e19a31;
danger: #e19a31;

*/
