body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", Serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-block-end: 0%;
}

h4 {
  font-size: 20px;
  margin-block-end: 0%;
}
